@import "~bootstrap/scss/bootstrap.scss";

body {
  font-size: 20px;
}

.poker-table {
  position: relative;
  width: 960px;
  height: 608px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/Texas_Hold%27em_Poker_Table_with_Blinds.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #888888;
  background: #ededed;
  margin-top: 147px !important;
  overflow: hidden;
}
